.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.list-item {
    list-style: none;
}