.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container {
    position: relative;
    width: 600px;
    height: 400px;
}

img {
    width: 100%;
    height: 100%;
}

button {
    padding: 1rem;
    position: absolute;
    opacity: 0.4;
    border-color: rgba(red, green, blue, 0.6);
    cursor: pointer;
}

.left {
    top: 45%;
    left: 1rem;
}

.right {
    top: 45%;
    right: 1rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);

    span {
        font-size: 2.5rem;
        color: black;
        opacity: 0.8;
        cursor: pointer;
        margin: 0.5rem;
    }
}